

#is:link{
    color: #1E90FF;
    text-decoration: none;
}

#is:visited{
    color: blueviolet;
    text-decoration: none;
}

#is:hover{
    color: #39FF14;
    text-decoration: underline;
}

.error{
    
    background-color:red;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    background-color: #000000;
    border: solid;
    border-color: #39FF14;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2em auto;
    height: 500px;
    
}

input{
    border: solid 2.5px #1E90FF;
}

form > button{
    background-color: #39FF14;
    border: 2px solid #1E90FF;
    border-radius: 20px;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}

form > button:hover{
    background-color: #1E90FF;
    color: white;
}





