@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    background-color: #000000;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    min-height: 100px;
    gap: 1em;
}

#header-top {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    min-height: 50px;
    border-bottom: 1px solid #39FF14;
    padding-bottom: 15px;
    padding-top: 15px;
}

#logo-container {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-container > img {
    width: 5em;
}

#search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

#search-bar-container > form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar-container > form > input {
    width: 30vw;
    font-size: 1.25em;
    padding: 0.5em;
    background-color: #39FF14;
    border: 2px solid #1E90FF;
    border-radius: 20px;
    
}

#session-buttons-container {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

#header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    min-height: 50px;
}

#header-bottom > nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

#header-bottom > nav > button {
    color: white;
    font-size: 20px;
    background: #000000;
    border: 2px solid #1E90FF;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 210px;
}


#header-bottom > nav > button:hover {
    font-size: 20px;
    background-color: #1E90FF;
    border: 2px solid #39FF14;
    padding: 10px 25px;
    color: white;
    
}

#header-bottom > nav > .selected {
    border-color: #39FF14;
}

#header-bottom > nav > .selected:hover {
    border-color: #1E90FF;
    background-color: #39FF14;
}
